@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #E6A2A9;
    --color-secondary: #10B981;
    
    --font-sans: 'Inter', system-ui, sans-serif;
    --font-serif: 'Georgia', serif;

    --text-black: #2B2A2A;
    --text-pink: #E6A2A9;
    --text-white: #FFFFFF;
    --text-black-muted: #666666;
  }
}